html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
@font-face {
  font-family: 'Muller';
  src: url('fonts/MullerBold.woff2');
  src: local('Muller Bold'), local('MullerBold'),
    url('fonts/MullerBold.woff2')
    url('fonts/MullerBold.woff')
}
@font-face {
  font-family: 'Muller';
  src: url('fonts/MullerLight.woff2');
  src: local('Muller Light'), local('MullerLight'),
    url('fonts/MullerLight.woff2')
    url('fonts/MullerBold.woff')
}
@font-face {
  font-family: 'Muller';
  src: url('fonts/MullerMedium.woff2');
  src: local('Muller Medium'), local('MullerMedium'),
    url('fonts/MullerMedium.woff2')
    url('fonts/MullerBold.woff')
}
@font-face {
  font-family: 'Muller';
  src: url('fonts/MullerRegular.woff');
  src: local('Muller Regular'), local('MullerRegular'),
    url('fonts/MullerRegular.woff2')
    url('fonts/MullerBold.woff')
}
body {
  font-family: 'Muller', sans-serif;
  background-color: #F1F1F1;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}
h2 {
  margin: 0;
  padding: 0;
}
h3 {
  margin: 0;
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
}
.list-reset{
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex{
  display: flex;
}
.container{
  width: 1170px;
  margin: 70px auto;
}
.first-container {
  width: 1170px;
  margin: 30px auto;
}
.section-head {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
  margin-left: 45px;
}
/*  */

.header-top{
  align-items: center;
  display: flex;
  margin-bottom: 30px;
}
.header-top-number {
  padding-left: 40px;
  margin-right: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
}
.header-top-my-account{
  vertical-align: middle;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  background-image: url("../img/header-top-my-account.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 28px;
}
.header-nav {
  flex-direction: column;
  flex-wrap: wrap;
}
.header-bot {
  background: #FFFFFF;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
}
.header-bot-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  padding-left: 45px;

}
.header-bot-items{
  padding: 17px 0;
  padding-right: 45px;
}
.header-bot-items:last-child{
  border-right: #E1E1E1 solid 1px ;
}
.header-bot-items-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
}
.header-btns{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
}
.header-btn,
.placement-list-button{
  display: flex;
  background-color: #fff;
  flex-direction: row;
  align-items: flex-start;
  padding: 13px 20px;
  border: 1px solid #CC9933;
  box-sizing: border-box;
  border-radius: 10px;
}
.btn-text,
.placement-list-button{
  color: #CC9933;

}
.special-offers-head{
  margin-bottom: 20px;
}
.special-offers-offers-left{
  display: flex;
  margin-right: 23px;
}
.special-offers-offers-left-list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.special-offers-offers-left-card{
  width: 573px;
  min-height: 258px;
}
.special-offers-offers-right{
  width: 573px;
  min-height: 540px;
}
.special-offers-offers-left-card,
.special-offers-offers-right{
  border-radius: 15px;
}
.special-offers-offers-left-card-cost{
  padding-top: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.8;
}
.special-offers-offers-right-cost{
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
  opacity: 0.8;
}
.special-offers-offers-left-card-title{
  padding-top: 40px;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  color: #FFFFFF;
  max-width: 339px;
}
.special-offers-offers-left-card-link,
.special-offers-offers-right-card-link{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #FFCC66;
  background-image: url("../img/special-offers-offers-card-link.svg");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 16.5px;
}
.special-offers-offers-right-title{
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
  max-width: 339px;
  padding-top: 211px;
  padding-bottom: 15px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.special-offers-offers-left-card-last-p{
  padding-top: 47px;
}
.special-offers-div p {
  padding-left: 40px;
}
.special-offers-div{
  display: flex;
}
.special-1{
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/special-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.special-2{
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/special-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.special-3{
  background-image: url("../img/special-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services-list-card{
  width: 573px;
}
.services-image-1{
  background-image: url("../img/services-1.jpg");
}
.services-image-2{
  background-image: url("../img/services-2.jpg");
}
.services-image-3{
  background-image: url("../img/services-3.jpg");
}
.services-image-4{
  background-image: url("../img/services-4.jpg");
}
.services-list-card-image{
  width: 572px;
  height: 165px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px 15px 0px 0px;
}
.services-list-card-content{
  display: flex;
  flex-direction: column;
  width: 573px;
  min-height: 165px;
  background: #FFFFFF;
  border-radius: 0px 0px 15px 15px;
}
.services-list-card-title{
  padding-top: 26px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #CC9933;
}
.services-list-card-descr{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}
.services-list-card-title,
.services-list-card-descr{
  padding-left: 45px;
  width: 447px;
}
.section-head-2{
  margin-bottom: 11px;
}
.services-list-card{
  margin-bottom: 23px;
}
.services-list-card:nth-last-child(-n+2){
  margin-bottom: 0;
}
.about-us-content{
  width: 888px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  /* or 32px */
  color: #000000;
}
.section-head-3{
  margin-bottom: 20px;
}
.section-head-4{
  margin-bottom: 30px;
}
.advantages-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.advantages-list-card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 275px;
  min-height: 275px;
  background: #FFFFFF;
  border-radius: 15px;
  margin-bottom: 23px;
}
.advantages-list-card:nth-last-child(-n+4){
  margin-bottom: 0;
}
.advantages-list-card-image-1{
  background-image: url("../img/bathtub.svg");
}
.advantages-list-card-image-2{
  background-image: url("../img/hanger.svg");
}
.advantages-list-card-image-3{
  background-image: url("../img/heating.svg");
}
.advantages-list-card-image-4{
  background-image: url("../img/hotel-key.svg");
}
.advantages-list-card-image-5{
  background-image: url("../img/parking.svg");
}
.advantages-list-card-image-6{
  background-image: url("../img/reception.svg");
}
.advantages-list-card-image-7{
  background-image: url("../img/security-box.svg");
}
.advantages-list-card-image-8{
  background-image: url("../img/swimming-pool.svg");
}
.advantages-list-card-descr{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 40px top;
  padding-top: 80px;
  padding-left: 45px;
  max-width: 233px;
}
.section-head-5{
  margin-bottom: 30px;
}
.placement-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.placement-img-card{
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;
}
.placement-list-card{
  display: flex;
  flex-direction: column;
  width: 374px;
  min-height: 440px;
  border-radius: 15px;
  background: #FFFFFF;
  margin-bottom: 23px;
}
.placement-list-card:nth-last-child(-n+3){
  margin-bottom: 0;
}
.placement-list-row-1{
  padding-top: 36px;
  margin-bottom: 16px;
}
.placement-list-row-1-first{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.placement-list-row-1-cost{
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.placement-list-row-1-last{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  flex: none;
  order: 2;
  flex-grow: 0;
}
.star{
  position: relative;
  left:46px;
}
.placement-list-row-2{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 16px;
  }
.placement-list-row-3{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
  margin-bottom: 16px;
}
.placement-list-last-card {
  display: flex;
  background-image: url('../img/placement-9.jpg');
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
}
.placement-list-last-card-row-1{
  display: inline;
  margin-left: 54px;
  margin-bottom: 27px;
  color: aliceblue;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 200%;
  background-image: url("../img/placement-last.svg");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 16px;
}
.placement-content-card{
  padding-left: 45px;
  border-radius: 0 0 15px 15px;
  max-width: 297px;
}
