.menuDiv {
    position: absolute;
    top: 22px;
    right: 20px;
}
@media all and (min-width: 1024px) {
    .menuDiv {
        top: 68px;
        transform: rotate(90deg);
        right: 100px;
        padding: 7px 6px 10px 6px;
        border-radius: 50%;
    }
    .menuDiv::after {
        position: absolute;
        content: '';
        top: -5px;
        left: -5px;
    }
    .menuDiv:hover {
        background-color: rgba(51, 51, 51, 0.1);
    }
}